* {
    margin: 0;
}


body {
    background-color: #aaaaaa;
}

/* Utilities */
.container {
    margin: 0 auto;
    width: 1080px;
}


/* Header */
#main_header {
    background-color: white;
}

#logo {
    height: 50px;
    padding: 15px;
    vertical-align: middle;
}

#logo_title {
    margin: 0;
    display: inline;
}