* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


body {
    background-color: #f6f8f9;
}

/* Utilities */
.main_container {
    background-color: white;
    margin: 30px auto;
    width: 50%;
    padding: 5px 30px;
    border-radius: 10px;
}

.border_top {
    border-top: 3px solid #f6f8f9;
}

.container {
    width: 95%;
}
/* Commandbar Buttons */
.a_blue {
    margin: 5px 0;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    background-color: dodgerblue;
    border-radius: 10px;
}

.a_white {
    margin: 5px 0;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid gray;
}

/* Task Labels */

.a_lightblue {
    font-size: 13px;
    margin: 5px 0;
    display: inline-block;
    padding: 5px 5px;
    text-decoration: none;
    background-color: #45abea;
    border-radius: 15px;
}

.a_violet {
    font-size: 13px;
    margin: 5px 0;
    display: inline-block;
    padding: 5px 5px;
    text-decoration: none;
    background-color: violet;
    border-radius: 15px;
}

.a_orange {
    font-size: 13px;
    margin: 5px 0;
    display: inline-block;
    padding: 5px 5px;
    text-decoration: none;
    background-color: orange;
    border-radius: 15px;
}


.a_green {
    font-size: 13px;
    margin: 5px 0;
    display: inline-block;
    padding: 5px 5px;
    text-decoration: none;
    background-color: #64c0a9;
    border-radius: 15px;
}

.a_lightgreen {
    font-size: 13px;
    margin: 5px 0;
    display: inline-block;
    padding: 5px 5px;
    text-decoration: none;
    background-color: #b0c926;
    border-radius: 15px;    
}

.a_purple {
    font-size: 13px;
    margin: 5px 0;
    display: inline-block;
    padding: 5px 5px;
    text-decoration: none;
    background-color: rgb(163, 1, 163);
    border-radius: 15px;    
}


.white_text {
    color: white;
}


.gray_text {
    color: gray;
}

/* Header */
#main_header {
    background-color: white;
    padding: 10px;
}

#logo {
    height: 50px;
    padding-left: 10px;
    vertical-align: middle;
}

#logo_title {
    margin: 0;
    display: inline;
    vertical-align: middle;
}

/* Main */

#command_bar {
    padding-bottom: 10px;
    background-color: white;
    padding: 30px;
}

hr {
    width: auto;
    color: gray;
}

h3 {
    padding-top: 30px;
    padding-bottom: 10px;
}

#task_list {
    padding: 19px;
}
